
  .content-section {
    margin-left: 0px;
    width: 100%;
}

#wrapper{
  position: relative;
  width:100%;
  min-height:50vw;
  overflow: hidden;
}

.layer{
  position: absolute;
  width:100vw;
  min-height: 50vw;
  overflow: hidden;
}

.layer .content-wrap{
  position: absolute;
  width:100vw;
  min-height: 50vw;
}

.layer img{
  position: absolute;
  width:100%;
  top:0;
  left: 50%;
  transform:translate(-50%, 25%);
}

.layer h1{
  font-size:2em;
}

.bottom{
  background:#222;
  z-index:1;
}

.bottom .content-body{
  /* right:5%; */
  width: 50%;
  padding: 1% 25% 5% 1%;
  float: right;
}

.bottom h1{
  color:#FDAB00;
}

.top{
  background:#eee;
  color:#222;
  z-index:2;
  width:50vw;
}

.top .content-body{
  /* left: 5%; */
  color:#222;
  width: 50%;
  float: left;
  padding: 1% 25% 5% 1%;
}

.handle{
  position: absolute;
  height: 100%;
  display: block;
  background-color: white;
  width:5px;
  top:0;
  left: 52%;
  z-index:3;
}

/* .skewed .handle{
  top:50%;
  transform:rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin:top;
}

.skewed .top{
  transform: skew(-30deg);
  margin-left:-1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap{
  transform: skew(30deg);
  margin-left:1000px;
} */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #4CAF50;
  color:  white;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: white;
  color: black;
}


@media(max-width:768px){
  body{
    font-size:75%;
  }
}