body {
  background: url(http://subtlepatterns.com/patterns/lightpaperfibers.png) repeat 0 0;
  height: 100%;
  margin: 0;
}
.site-header {
  width: 100%;
}
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.bg-steel {
  background-color: #282935;
}

.fa-facebook {
  color:#3b5998;
}
.fa-facebook:hover {
  color:#325bb4;
  transform: scale(1.1);
}
.fa-instagram {
  color:#833AB4;
}
.fa-instagram:hover {
  color:rgb(146, 36, 219);
  transform: scale(1.1);
}
.fa-twitter {
  color:#55acee;
}
.fa-twitter:hover {
  color:#1893f1;
  transform: scale(1.1);
}
.fa-google-plus {
  color:#dc4e41;
}
.fa-google-plus:hover {
  color:#ee220f;
  transform: scale(1.1);
}
.fa-angle-double-up {
  font-size: 150%;
}
.fa-tint {
  font-size: 150%;
  padding-right: 5%;
}

.sidebar_social_icons {
  padding-top: 200%;
}

.navbar-brand {
  font-family: 'Fjalla One', sans-serif;
  font-size: 200%;
  margin: 0 60%; 
}

.btn-login {
  background-color: transparent; /* Green */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
}
.btn-login:hover {
  transform: scale(1.1);
} 
.btn-login #login-text {
  color: white;
}
/* .fa-sign-in {
  color:white;
} */
#signup-text {
  color: white;
}
.nav-item a {
  color: white;
}


.double-nav .breadcrumb-dn {
  color: #fff;
}

/* Dropdown Button */
.dropdown-menu {
  background-color: #282935;
}
.dropdown-menu a{
  color: white;
}


#menu-open-close #openbtn:hover, #menu-open-close #closebtn:hover {
  transform: scale(1.3);
}
.sidebar {
    width: 15%; /* 0 Full-width*/
    height: 0; /* height - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #282935; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; /* Place content 300px from the top */
    transition: 0.8s; /* 0.5 second transition effect to slide in the sidebar */
    margin-top: 0;
  }
  
  /* The sidebar links */
  .sidebar a, .social_icon_text {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #f1f1f1;
    display: block;
    transition: 0.1s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #818181;
  }
  

  /* The button used to open the sidebar */
  #openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 0;
    border: none;
    margin-left: 80px;
    display: block;
  }
  
  #closebtn {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 0;
    border: none;
    margin-left: 80px;
    display: none;
  }

  #openbtn:hover {
    background-color: #32354e;
  }



 

  /* Home page*/
  #refresh-btn i {
    padding: 2em;
    font-size: 10em;
  }


  .navbar {
    position: relative;
    border-radius: 0px;
    border: 0px;
    height: 4.5em;
    -webkit-transition: height 300ms ease-in-out;
    -moz-transition: height 300ms ease-in-out;
    -o-transition: height 300ms ease-in-out;
    transition: height 300ms ease-in-out;
  }

  .content-section {
    position: relative;
    margin-top: 5rem;
    margin-left: 5%;
    width: 85%;
    /* padding-left: 250px; */
  }
  .alert {
    display: none;
  }

   /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
   @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 12px;}
  }
  @media screen and (max-width: 1485px) {
     .content-section {display: none};
  }

  /* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtnalert {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtnalert:hover {
  color: black;
}

/* ABSTRACT */
.abstract_view {
  display: none;
}
.loadAbstract {
  display: block;
}
.hideAbstract {
  display: none;
}
