<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_324167121b9c4f62a11b917e226d9d47 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_324167121b9c4f62a11b917e226d9d47" ></div>
        
</body>
<script>    
    
            var map_324167121b9c4f62a11b917e226d9d47 = L.map(
                "map_324167121b9c4f62a11b917e226d9d47",
                {
                    center: [24.0, 121.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b545c068a77a4e968cff5537a515c06a = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_324167121b9c4f62a11b917e226d9d47);
        
    
            var marker_f7397004cba24126a6b162389e2538ea = L.marker(
                [25.20657, 121.690427],
                {}
            ).addTo(map_324167121b9c4f62a11b917e226d9d47);
        
    
        var popup_65822ab445e34aabad7f309a0bd30d01 = L.popup({"maxWidth": 1000});

        
            var html_299bb27a359c4b84a0465bce46ece23e = $(`<div id="html_299bb27a359c4b84a0465bce46ece23e" style="width: 100.0%; height: 100.0%;"><a href="http://www.ylgeopark.org.tw/ENG/landscape/Sight_en.aspx" target="_blank"> Yehliu </a> </div>`)[0];
            popup_65822ab445e34aabad7f309a0bd30d01.setContent(html_299bb27a359c4b84a0465bce46ece23e);
        

        marker_f7397004cba24126a6b162389e2538ea.bindPopup(popup_65822ab445e34aabad7f309a0bd30d01)
        ;

        
    
    
            var marker_56ffe50f81514e06b1e3596c21d6f4b7 = L.marker(
                [21.951734, 120.781248],
                {}
            ).addTo(map_324167121b9c4f62a11b917e226d9d47);
        
    
        var popup_eae0ab324bf2472895d364a29eccd870 = L.popup({"maxWidth": 1000});

        
            var html_f430669bda9b49dab54240926f5a1069 = $(`<div id="html_f430669bda9b49dab54240926f5a1069" style="width: 100.0%; height: 100.0%;"><a href="https://en.wikipedia.org/wiki/Kenting_National_Park" target="_blank"> Kenting </a> </div>`)[0];
            popup_eae0ab324bf2472895d364a29eccd870.setContent(html_f430669bda9b49dab54240926f5a1069);
        

        marker_56ffe50f81514e06b1e3596c21d6f4b7.bindPopup(popup_eae0ab324bf2472895d364a29eccd870)
        ;

        
    
    
            var marker_64275d03a8b14f89993a7550123b9be6 = L.marker(
                [25.158249, 121.768227],
                {}
            ).addTo(map_324167121b9c4f62a11b917e226d9d47);
        
    
        var popup_a3112dc3cc7e4dedb25018a27a472a1b = L.popup({"maxWidth": 1000});

        
            var html_cb488af0b0c24dbb9a10c51a4c35eb63 = $(`<div id="html_cb488af0b0c24dbb9a10c51a4c35eb63" style="width: 100.0%; height: 100.0%;"><a href="https://www.northguan-nsa.gov.tw/user/article.aspx?Lang=2&SNo=04005328" target="_blank"> Heping </a> </div>`)[0];
            popup_a3112dc3cc7e4dedb25018a27a472a1b.setContent(html_cb488af0b0c24dbb9a10c51a4c35eb63);
        

        marker_64275d03a8b14f89993a7550123b9be6.bindPopup(popup_a3112dc3cc7e4dedb25018a27a472a1b)
        ;

        
    
</script>