<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6538cafedf4d4013896242fa2046a09b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6538cafedf4d4013896242fa2046a09b" ></div>
        
</body>
<script>    
    
            var map_6538cafedf4d4013896242fa2046a09b = L.map(
                "map_6538cafedf4d4013896242fa2046a09b",
                {
                    center: [24.0, 121.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_efcb13d005544400854c075a969ffe10 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6538cafedf4d4013896242fa2046a09b);
        
    
            var marker_f0dc88b4b9f24cdeb93d90e3a44fe2a2 = L.marker(
                [25.20657, 121.690427],
                {}
            ).addTo(map_6538cafedf4d4013896242fa2046a09b);
        
    
        var popup_33f23c4bc0324d9fbe281d677823b81b = L.popup({"maxWidth": 1000});

        
            var html_c391001a224e4c7c966ba99cadf582f0 = $(`<div id="html_c391001a224e4c7c966ba99cadf582f0" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com" target="_blank"> Yehliu </a> </div>`)[0];
            popup_33f23c4bc0324d9fbe281d677823b81b.setContent(html_c391001a224e4c7c966ba99cadf582f0);
        

        marker_f0dc88b4b9f24cdeb93d90e3a44fe2a2.bindPopup(popup_33f23c4bc0324d9fbe281d677823b81b)
        ;

        
    
    
            var marker_ada4644c1dc74a48bf5deb2b88e84121 = L.marker(
                [21.951734, 120.781248],
                {}
            ).addTo(map_6538cafedf4d4013896242fa2046a09b);
        
    
        var popup_571c4137861f48f9930d1cb8660b6336 = L.popup({"maxWidth": 1000});

        
            var html_8f05241e897845129804fa38e9b09e3c = $(`<div id="html_8f05241e897845129804fa38e9b09e3c" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com" target="_blank"> Kenting </a> </div>`)[0];
            popup_571c4137861f48f9930d1cb8660b6336.setContent(html_8f05241e897845129804fa38e9b09e3c);
        

        marker_ada4644c1dc74a48bf5deb2b88e84121.bindPopup(popup_571c4137861f48f9930d1cb8660b6336)
        ;

        
    
    
            var marker_2250212473e44b19b6e03caa2c5dbe8b = L.marker(
                [25.158249, 121.768227],
                {}
            ).addTo(map_6538cafedf4d4013896242fa2046a09b);
        
    
        var popup_3e267af6370a46ecabf0fb75ac1a7885 = L.popup({"maxWidth": 1000});

        
            var html_436c0ae6668a4cd38d9bfa18311e3a57 = $(`<div id="html_436c0ae6668a4cd38d9bfa18311e3a57" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com" target="_blank"> Heping </a> </div>`)[0];
            popup_3e267af6370a46ecabf0fb75ac1a7885.setContent(html_436c0ae6668a4cd38d9bfa18311e3a57);
        

        marker_2250212473e44b19b6e03caa2c5dbe8b.bindPopup(popup_3e267af6370a46ecabf0fb75ac1a7885)
        ;

        
    
</script>
