{%extends "layout.html"%}
{% set active_page = "effects" %}
{% block scripts %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='get_in_touch.css') }}"> -->
<script src = "{{ url_for('static', filename = 'effects.js') }}" ></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='effects.css') }}">
{% endblock scripts%}
{%block content%}
<div class="w3-panel w3-leftbar w3-light-grey">
  <p class=" w3-xlarge w3-serif">
  <i class="fa fa-quote-right w3-xxlarge w3-text-red"></i><br>
  Sea level will cause more than flooding</p>
</div>
  <h3>Primary Effects</h3> 
  <ul>
    <li>Global temperature rise will lead to the increased severity of sea level rise as the higher temperature causes the water to expand.</li>
    <li>Drinking water contamination</li>
    <li>Interfere with farming</li>
    <li>Loss of vegetation near coastlines</li>
    <li>Wildlife population affected near the coastlines</li>
    <li>Economic loss of the nation due to fall in tourism and real-state industries.</li>
  </ul>

  <div class="row">
      <div class="sliderContainer">     
          <input type="range" name="points" min="0" max="3" step="1" value="0" id="mysliderid" class="mysliderclass">
          <p class="slidervaluesyear" style="text-align: center;">Year: <span id="slidervalue"></span></p>
          <img src="https://raw.githubusercontent.com/earthinversion/logoStore/master/SWET_2002_Taiwan.png" id="imageid">
      </div>
      <div class="imageSlider"></div>
      
      <div class="sliderContainer">     
          <input type="range" name="points" min="0" max="3" step="1" value="0" id="mysliderid" class="mysliderclass">
          <p class="slidervaluesyear" style="text-align: center;">Year: <span id="slidervalue"></span></p>
          <img src="https://raw.githubusercontent.com/earthinversion/logoStore/master/SWET_2002_Taiwan.png" id="imageid">
      </div>
      <div class="imageSlider"></div>
      </div>
{% endblock content %}

