{%extends "layout.html"%}
{% set active_page = "image_analysis" %}
{% block scripts %}
<script src = "{{ url_for('static', filename = 'image_analysis.js') }}" ></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='image_analysis.css') }}">

<script>
    L_NO_TOUCH = false;
    L_DISABLE_3D = false;
</script>

<script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
<link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
<!-- <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style> -->
<!-- <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style> -->

<meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock scripts%}

{% block content %}
<div class="folium-map" id="map_fd64a4e2cbbe42cfac845504f2f3c621" ></div>
{% endblock %}

<script>    
    
    var map_fd64a4e2cbbe42cfac845504f2f3c621 = L.map(
        "map_fd64a4e2cbbe42cfac845504f2f3c621",
        {
            center: [24.0, 121.0],
            crs: L.CRS.EPSG3857,
            zoom: 8,
            zoomControl: true,
            preferCanvas: false,
        }
    );


    var tile_layer_1fc7c8e826784ce7bcad31891671355c = L.tileLayer(
        "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
        {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
    ).addTo(map_fd64a4e2cbbe42cfac845504f2f3c621);


    var marker_b7983646c4e64c0b97ac4ee67f462e28 = L.marker(
        [25.20657, 121.690427],
        {}
    ).addTo(map_fd64a4e2cbbe42cfac845504f2f3c621);


var popup_65964bc7ed3f4b61aac0b8774f588902 = L.popup({"maxWidth": 1000});


    var html_7f4c258eeb5e44279db7c066f2a986e8 = $(`<div id="html_7f4c258eeb5e44279db7c066f2a986e8" style="width: 100.0%; height: 100.0%;"><a href="www.amazon.com" target="_blank"> Yehliu </a> </div>`)[0];
    popup_65964bc7ed3f4b61aac0b8774f588902.setContent(html_7f4c258eeb5e44279db7c066f2a986e8);


marker_b7983646c4e64c0b97ac4ee67f462e28.bindPopup(popup_65964bc7ed3f4b61aac0b8774f588902)
;


    var marker_47c9a4f2d21541089ffbfbcfa61687a9 = L.marker(
        [21.948285, 120.779818],
        {}
    ).addTo(map_fd64a4e2cbbe42cfac845504f2f3c621);


var popup_5a61fdfcb2594fd9a400165baa30a49a = L.popup({"maxWidth": 1000});


    var html_702703ec85e44547aa075f364693548b = $(`<div id="html_702703ec85e44547aa075f364693548b" style="width: 100.0%; height: 100.0%;"><a href="www.amazon.com" target="_blank"> Kenting </a> </div>`)[0];
    popup_5a61fdfcb2594fd9a400165baa30a49a.setContent(html_702703ec85e44547aa075f364693548b);


marker_47c9a4f2d21541089ffbfbcfa61687a9.bindPopup(popup_5a61fdfcb2594fd9a400165baa30a49a)
;




    var marker_8af0d0ed46774fcba8a8e1c4d89959c3 = L.marker(
        [22.644694, 120.316335],
        {}
    ).addTo(map_fd64a4e2cbbe42cfac845504f2f3c621);


var popup_6e8d5739459f47d4a5b528aca6839f73 = L.popup({"maxWidth": 1000});


    var html_2007047184bd4007affeaa400db795d7 = $(`<div id="html_2007047184bd4007affeaa400db795d7" style="width: 100.0%; height: 100.0%;"><a href="www.amazon.com" target="_blank"> Kaohsiung </a> </div>`)[0];
    popup_6e8d5739459f47d4a5b528aca6839f73.setContent(html_2007047184bd4007affeaa400db795d7);


marker_8af0d0ed46774fcba8a8e1c4d89959c3.bindPopup(popup_6e8d5739459f47d4a5b528aca6839f73)
;



</script>

