<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
      <!-- <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css"> -->
      <!-- <link href="{{ url_for('static', filename='all.css') }}" rel="stylesheet"> -->
      <!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script> -->
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
      


      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
      <script src = "{{ url_for('static', filename = 'myscripts.js') }}" ></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
      {% block scripts %}{% endblock scripts%}

      {% if title %}
          <title>SLRM : {{ title }}</title>
      {% else %}
          <title>SLRM</title>
      {% endif %}
  </head>
  <body>
      <header class="site-header">
              <div id="mySidebar" class="sidebar" aria-expanded="false">
                  <a href="{{ url_for('dashboard') }}" class="{{ 'active' if active_page == 'dashboard' else '' }}"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
                  <a href="{{ url_for('observations') }}" class="{{ 'active' if active_page == 'observations' else '' }}"><i class="fa fa-user-md fa-lg"></i> Observations</a>
                  <a href="{{ url_for('effects') }}" class="{{ 'active' if active_page == 'effects' else '' }}"><i class="fa fa-line-chart fa-lg"></i> Effects</a>
                  <a href="{{ url_for('image_analysis') }}" class="{{ 'active' if active_page == 'image_analysis' else '' }}"><i class="fa fa-image fa-lg"></i> Image Analysis</a>
                  <a href="{{ url_for('current_research') }}" class="{{ 'active' if active_page == 'current_research' else '' }}"><i class="fa fa-binoculars fa-lg"></i> Current Research</a>
                  <a href="{{ url_for('get_in_touch') }}" class="{{ 'active' if active_page == 'get_in_touch' else '' }}"><i class="fa fa-address-book"></i> Get in Touch</a>
                  <a href="{{ url_for('app_info') }}" class="{{ 'active' if active_page == 'app_info' else '' }}"><i class="fa fa-info-circle fa-lg"></i> App Info</a>
                  <div class="sidebar_social_icons">
                      <div class="social_icon_text" style="color: black;">Share on social media</div>
                      <div class="row">
                      <a class="nav-link waves-effect waves-light" href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                      </a>
                  
                      <a class="nav-link waves-effect waves-light" href="#">
                        <i class="fa fa-instagram fa-lg"></i>
                      </a>
                  
                      <a class="nav-link waves-effect waves-light" href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                      </a>
                  
                      <a class="nav-link waves-effect waves-light" href="#">
                        <i class="fa fa-google-plus fa-lg"></i>
                      </a>
                    </div>
                  
                  </div>
                </div>
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div id="menu-open-close">
              <button id="openbtn">&#9776;</button>
              <button id="closebtn"><i class="fa fa-angle-double-up"></i></button>
            </div>
            <div class="container">
              <div class="navbar-header">
                <!-- <a class="navbar-brand" href="{{ url_for('dashboard') }}"> <img src="https://github.com/earthinversion/logoStore/blob/master/satellite_v2.svg" style="width:40px;"> Sea Level Rise Monitoring</a> -->
                <a class="navbar-brand" href="{{ url_for('dashboard') }}"> <img src="{{ url_for('static', filename='satellite_v2.svg') }}" style="width:40px;"> Sea Level Rise Monitoring</a>
                <!-- <a class="navbar-brand" href="{{ url_for('dashboard') }}"> <img src="static/satellite_v2.svg" style="width:40px;"> Sea Level Rise Monitoring</a> -->
                <!-- <a class="navbar-brand" href="{{ url_for('dashboard') }}"> <i class="fa fa-water"></i><i class="fa fa-satellite-dish"></i> Sea Level Rise Monitoring </a> -->
              </div>
              <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <div class="dashboardBtn">
                  <li class="nav-item">
                        <a href="{{ url_for('dashboard') }}" style="text-decoration: none; padding: 5px;">Dashboard <i class="fa fa-tachometer" aria-hidden="true" style="color:white"></i></a>
                      </li>
                    </div>
              
                </ul>
              </div>
            </div>
          </nav>
        </header>

        <main id="main" class="container-fluid">
            
                <div class="content-section">
                  {% block content %}{% endblock %}
                </div>
                <div class="alert">
                    <span class="closebtnalert" onclick="this.parentElement.style.display='none';">&times;</span>
                    This is an alert box.
                  </div>
                
          </main>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    
  </body>
</html>
