<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Finger+Paint&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">


      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
      <script src = "{{ url_for('static', filename = 'myscripts.js') }}" ></script>

      {% if title %}
          <title>SLRM : {{ title }}</title>
      {% else %}
          <title>SLRM</title>
      {% endif %}
  </head>
  <body>
      <header class="site-header">
              <div id="mySidebar" class="sidebar">
                  <a href="{{ url_for('home') }}"><i class="fa fa-user-md fa-lg"></i> Observations</a>
                  <a href="{{ url_for('effects') }}"><i class="fa fa-line-chart fa-lg"></i> Effects</a>
                  <a href="{{ url_for('image_analysis') }}"><i class="fa fa-image fa-lg"></i> Image Analysis</a>
                  <a href="{{ url_for('current_research') }}"><i class="fa fa-binoculars fa-lg"></i> Current Research</a>
                  <a href="{{ url_for('get_in_touch') }}"><i class="fa fa-info-circle fa-lg"></i> Get in Touch</a>
                  <div class="sidebar_social_icons">
                      <div class="social_icon_text">Share on social media</div>
                      <div class="row">
                      <a class="nav-link waves-effect waves-light" href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                      </a>
                  
                      <a class="nav-link waves-effect waves-light" href="#">
                        <i class="fa fa-instagram fa-lg"></i>
                      </a>
                  
                      <a class="nav-link waves-effect waves-light" href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                      </a>
                  
                      <a class="nav-link waves-effect waves-light" href="#">
                        <i class="fa fa-google-plus fa-lg"></i>
                      </a>
                    </div>
                  
                  </div>
                </div>
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top scrolling-navbar">
            <div id="menu-open-close">
              <button id="openbtn">&#9776;</button>
              <button id="closebtn"><i class="fa fa-times-circle"></i></button>
            </div>
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" href="#"> <i class="fa fa-angle-double-right fa-lg"></i> Sea Level Rise Monitoring</a>
              </div>
              <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <button class="btn-login">
                        <li class="nav-item dropdown">
                          <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <a id="login-text">Sign in </a>
                            <i class="fa fa-sign-in fa-lg"></i>
                        </div>
                          <div class="dropdown-menu dropdown-menu-right dropdown-default"
                            aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" href="#"> <i class="fa fa-sign-in fa-lg"></i> Sign in</a>
                            <a class="dropdown-item" href="#"> <i class="fa fa-sign-out fa-lg"></i> Sign out</a>
                            <a class="dropdown-item" href="#"> <i class="fa fa-user-plus fa-lg"></i> Sign up</a>
                          </div>
      
                        </li>
              
                </ul>
              </div>
            </div>
          </nav>
        </header>

        <main id="main" class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="content-section">
                  {% block content %}{% endblock %}
                  <div id="refresh-btn"><i class="fa fa-refresh fa-spin fa-lg"></i></div>
                </div>
                </div>
            </div>
          </main>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
