{%extends "layout.html"%}
{% set active_page = "observations" %}
{% block scripts %}
<script src = "{{ url_for('static', filename = 'observations.js') }}" ></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='observations.css') }}">
{% endblock scripts%}
{%block content%}
  <section id="wrapper" class="skewed">
    <div class="layer bottom">
      <div class="content-wrap">
          <div class="content-body" style="color: white;">
              <h1>Look Sharp</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam temporibus dolore vero reiciendis atque debitis. Sequi at consequatur deserunt?</p>
            </div>
        <img src="{{ allurls['image1'] }}" alt="">
      </div>
    </div>

    <div class="layer top">
        <div class="content-wrap">
            <div class="content-body">
                <h1>Stay Cool</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam temporibus dolore vero reiciendis atque debitis. Sequi at consequatur deserunt?</p>
              </div>
          <img src="{{ allurls['image2'] }}" alt="">
        </div>
      </div>

      <div class="handle"></div>
    </section>

{% endblock content %}

