{%extends "layout.html"%}
{% set active_page = "observations" %}
{% block scripts %}
<script src = "{{ url_for('static', filename = 'observations.js') }}" ></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='observations.css') }}">
{% endblock scripts%}
{%block content%}
<div class="all_content">
  
  <div class="row cardrow1">  
      <div class="card cardleft">
          <a href="{{ url_for('observations_imageComp') }}" style="text-decoration: none;">
          <img src="{{ allurls['observations'] }}" alt="observations_imageComp" style="width:100%;">
          <div class="card-content">
            <h4><b>Compare the ice content in the past and present</b></h4> 
          </div>
        </a>
        </div>
      
      <div class="card cardright">
          <a href="{{ url_for('timeSlider') }}" style="text-decoration: none;">
          <img src="{{ allurls['time_slider'] }}" alt="timeSlider" style="width:100%;">
          <div class="card-content">
            <h4><b>Observe the sea level projection in your neighbourhood</b></h4> 
          </div>
        </a>
        </div>
  </div>

{% endblock content %}

